.productcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  height: 29rem;
  margin-bottom: 2rem;
  padding: 0.2rem;
  background-color: white;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productImage {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
  width: 60%;
  height: 10rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 0.7rem;
}

.title {
  font-size: large;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkred;
}
.productDescription {
  margin-top: 0.3rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  padding: 0.2rem;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  border-radius: 0.4rem;
}
.customerRatings {
  display: flex;
  justify-content: flex-start;
  margin: -0.4rem;
  gap: 4rem;
  font-size: large;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.price {
  font-size: large;
  font-weight: bold;
  background-color: green;
  color: white;
  padding: 0.1rem;
  border: solid;
}
.category {
  padding: 0.2rem;
  background-color: darkorange;
  border-radius: 0.3rem;
  margin-top: 0.3rem;
}

.rating {
  color: gold;
  background-color: black;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
